<settings>
  <category label="Yulfiostv General">
    <setting type="action" label="Bienvenidos a[COLOR=dodgerblue][B]Yulfios tv[/COLOR][/B]V 1.3 Actualizacion :08-30-2015" option="close" action="RunPlugin(plugin://plugin.video.yulfiostv/?mode=1)" />
	<setting type="action" label="Facegroup : [COLOR=blue][B]https://www.facebook.com/groups/yulfiostv[/COLOR][/B]" option="close" action="RunPlugin(plugin://plugin.video.yulfiostv/?mode=1)" />
    <setting id="use_thumb" type="bool" label="Usar Thumbnails como Fanart" default="false" />
    <setting id="add_playlist" type="bool" label="Agregar items con multiples enlaces como listas de reproduccion" default="true"/>
    <setting id="ask_playlist_items" type="bool" label="Elegir origen de reproduccion" default="true" />
    <setting id="debug" type="bool" label="Activar depuracion del add-on" default="false"/>
    <setting id="1080p" label="Reproducir video 1080p  ON demand si esta disponible (no en live)" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Reproducir IMDBid con:" default="Genesis"/>
	</category>
  <!--      
  
<setting id="save_location" type="folder"  label="Seleccionar una ruta de descarga." default=""/>

  <category label="Add Source">
    <setting id="choose_source" type="enum" values="Choose File|Enter URL" label="Choose Source Type" default=""/>
    <setting id="new_file_source" type="file" source="files" label="Choose File" default="" visible="eq(-1,0)"/>
    <setting id="new_url_source" type="text" label="Add URL" default="" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="Add Source" option="close" action="RunPlugin(plugin://plugin.video.live.streamspro/?mode=7)" />
    <setting type="sep" />
    <setting id="searchotherplugins" label="Search Other plugins" type="bool" default="false"/>
  </category>

  <category label=".xml Database">
    <setting id="browse_xml_database" type="bool" label="Browse and play from .xml Database" default="false"/>
    <setting type="action" label="Add .xml Database Sources" option="close" action="Container.Update(plugin://plugin.video.live.streamspro/?mode=14)" />
  </category>
  <category label="Community Files">
    <setting id="browse_community" type="bool" label="Browse and play from Community Files" default="false"/>
    <setting type="action" label="Add Community File URL as Source" option="close" action="Container.Update(plugin://plugin.video.live.streamspro/?mode=10)" />
  </category>

-->

</settings>